/* .input-container {
    height: 100%;
    display: grid;
    place-items: center;
} */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

app-header {
  grid-column: 1 / 13;
  grid-row: 1 / 3;
}

app-input {
  grid-column: 1 / 13;
  grid-row: 3 / 13;

  display: grid;
  place-items: center;
}

.input-container {
  display: flex;
}
